body {
    font-family: 'Lucida Sans', sans-serif;
    margin: 0;
    padding: 20px 0 0;
    line-height: 1.6;
    background-color: #c8d1d1;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    background-color: #f4f4f4;
    margin-top: 20px;
}

header img {
    width: 180px;
    height: auto;
    border-radius: 50%;
    position: absolute;
    left: 20px;
}

header div {
    text-align: center;
}

header h1 {
    margin: 10px 0;
}

header p {
    margin: 5px 0;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

a {
    color: #0078D7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}